{%extends 'base.html'%}
{%block content %}
<div class="alert alert-success">
    {% if messages %}
    <ul class="">
        <p>
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </p>
    </ul>
    {% endif %}
</div>

<h2>Your Event </h2>
{%if object_list %}
{% for object in object_list %}      
<ul>
<li><h3>{{object.name}}</h3>
        <a href="{% url 'event:delete' pk=object.pk %}">
            <p><button class="btn btn-danger">Delete</button></p>
        </a></li>
{%endfor%}
{% else %}
<h3> NO Event Create. Create One Now </h3><a href="{% url 'event:list'%}"><button class="btn btn-success">Create</button></a>
{%endif%}
{%endblock%}